.profile {
    border: 2px solid #000000;
    border-radius: 8px;
    width: 350px;
    margin: 0 auto;
    padding-top: 20px;
    overflow: hidden;
}

.avatar {
    background-color: #2a2a2a;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 150px;
}

.username {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
}

.userinfo {
    color: #808080;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.stats {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    border-top: 2px solid #808080;
}

.stats li {
    flex-basis: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #d3d3d3;
    border-right: 2px solid #808080;
}

.stats li:last-child {
    border-right: none;
}

.stats span {
    display: block;
    font-size: 16px;
}

.stats span:last-child {
    font-weight: bold;
}
