.friend {
    border: 2px solid #000000;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    min-width: 60px;
}

.friend img {
    width: 80px;
    margin-bottom: 26px;
}

.friendName {
    font-weight: 500;
    font-size: 20px;
}

.online {
    color: #098409;
}

.offline {
    color: #ff100f;
}
